body {
  background-color: #62c2c8;
  margin: 0;
}

.app {
  background-color: white;
  min-height: 80vh;
  width: 400px;
  /* margin: 20px auto; */
  margin-top: 20px;
}
.box {
  display: flex;
  justify-content: center;
}

.crossed {
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}

ul, li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 { 
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.leftImg {
  display: flex;
  justify-content: flex-start;
}

.rightImg {
  display: flex;
  justify-content: flex-end;
}

.btn {
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  }

  .add {

    background: #65aa06;
    margin-top: 5px;
  }
  
  .delete {
    background: #d30100;
    margin-bottom: 5px;
  }

  input {
    flex: 1;
    padding: 8px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
  }

  .box {
    display: flex;
    justify-content: center;
  }


  @media all and (max-width: 500px) {
    .app {
      min-height: 70vh;
      width: 350px;
    }
  }